.App {
  min-height: 100vh;
}

body {
  background-color: #e4e5e7;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.todo-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  align-self: self-start;
  margin: 0 0 15px 220px;
  line-height: 1.2;
}

.first-title {
  font-size: 56px;
  font-weight: 300;
}

.second-title {
  font-size: 24px;
  font-weight: 500;
}

.todo-list-container {
  width: 1070px;
  height: 290px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  overflow-y: auto;
}

.todo-content__ul {
  list-style: none;
}

.todo-content__list {
  display: inline-flex;
  width: 990px;
}

.todo-text {
  font-size: 18px;
  cursor: default;
  text-align: end;
  width: 930px;
  padding-right: 15px;
}

.trash-icon {
  padding: 4px;
  margin-right: 30px;
  cursor: pointer;
  transform: scale(1, 1);
}

.trash-icon:hover {
  transform: scale(1.04, 1.04);
}

.checkbox:checked + .trash-icon + .todo-text {
  text-decoration: line-through solid #000;
  color: #959595;
}

.input-todo-container {
  margin-top: 30px;
  width: 1070px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.todo-text__add {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  color: #000;
  font-weight: 500;
  padding: 0 0 15px 15px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  width: 970px;
  height: 40px;
  line-height: normal;
  margin-left: 40px;
  padding-left: 15px;
  border: 1px solid #ced4da;
  border-radius: 3px;
}

.todo-text__question {
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
}

.btn {
  font-size: 22.4px;
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf;
  border-radius: 3px;
  width: 80px;
  height: 50px;
  margin: 0 0 30px 15px;
}
